* {
	border: none;
	border-radius: 6px;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces {
  margin-left: 8px;
  margin-right: 8px;
}

/* Chips styling */
#tags button, 
#network, 
#pulseaudio, 
#battery, 
#backlight, 
#clock, 
#memory, 
#cpu, 
#tray, 
#custom-launcher, 
#custom-power, 
#custom-wallpaper, 
#custom-updates, 
#custom-media, 
#workspaces button {
	margin-top: 6px;
	margin-left: 4px;
  margin-right: 4px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: white; /* Text color */
	background: rgba(0, 0, 0, 0.5); /* Transparent dark background */
}

/* Specific state overrides */
#tags button.focused,
#workspaces button.active {
	color: white;
	border: 2px solid white;
}

#tags button:hover {
	color: #FAE3B0;
	border-color: #E8A2AF;
}
